<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="MySuite"  >
    <parameter name="baseurl" value="https://www.shutterfly.com/wedding/"></parameter>
    <listeners>
        <listener class-name="utils.ScreenShotUtility"></listener>
    </listeners>
    <test name="Test1" >
        <classes>
            <class name="ui_test.MarqueeUiTest" />
         <!--   <class name="api_test.MarqueeApiTest"></class>-->
        </classes>
    </test>



</suite>
